body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

header {
  width: 150px;
  height: 100%;
  position: fixed;
  background-color: rgba(124, 77, 255, 0.3);
}

header a {
  margin-top: 100px;
  text-align: center;
  display: block;
  margin-bottom: 450px;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 30px;
  background-color: #7700ff;
  opacity: 0.7;
}

header a:hover{
    background-color: #2d0061;
}

.bienvenida {
  background-image: url(../image/inicio.gif);
  background-size: cover;
  width: 100%;
  height: 1400px;
  display: flex; /* Convertimos .bienvenida en un flex container */
  justify-content: center; /* Centramos horizontalmente el contenido (h1) */
  align-items: center; /* Centramos verticalmente el contenido (h1) */
  color: #ffffff;
  font-size: 1.5em; /* Utilizamos 'em' para escalar el tamaño de la fuente */
}

.bienvenida a img{
  height: 40px;
  width: 40px;
  background-color: #7700ff;
  border-radius: 50px;
  align-items: center;
}

.time-line {
  position: relative;
  max-width: 1200px;
  margin: 120px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 2s;
}
.container:nth-child(4) {
  animation-delay: 3s;
}
.container:nth-child(5) {
  animation-delay: 4s;
}
.container:nth-child(6) {
  animation-delay: 5s;
}
.container:nth-child(7) {
  animation-delay: 6s;
}
.container:nth-child(8) {
  animation-delay: 7s;
}

.text-box {
  padding: 20px 30px;
  background: rgb(0, 0, 0) 000;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  color: #ffffff;
}

.left-container {
  left: 0;
}

.right-container {
  left: 58%;
}

.container img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.time-line::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background: #7700ff;
  top: 0;
  left: 58%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-radius: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(0, 0, 0);
  right: -14px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-radius: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(0, 0, 0);
  left: -15px;
}

.fin{
    background-image: url(../image/fin.gif);
    background-size: cover;
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5em;
}